/* N.B. Everything up here is >1100px max-width, see breaks.css for other breakpoints */

/* Hashtags
#test - any test stuff that needs removing later
#weird - any weird stuff I don't understand but don't have time to look up/doesn't matter
*/


/* -------------------------
Basic element customisations - body, font faces, paragraph layout etc
------------------------- */

a {
  color: #0082ba;
}
a:hover {
  color: #0FA0CE;
}

body {
  background: #50a6cd;
  font-family: "Trebuchet MS", sans-serif;
}

figure {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.7rem;
}
h6 {
  font-size: 1.5rem;
}

header {
  /*height: 220px; doesn't seem to make a difference anymore*/

}

img {
  margin: 0;
  padding: 0;
}

main { /*main content area for body text etc*/

}

nav { /*main navigation areas PLURAL so not just the top navigation area*/

}

ol {
  margin: 1.5rem auto;
  width: 60%;
}

ol li {
  padding: 0.5rem 0;
}

p {
  margin: 0;
  padding: 1.5rem;
}

table {
  font-size: 1.6rem;
}

ul {
  margin: 0;
  padding: 0 0 0 2rem;
}

ul li {
  margin: 0;
  padding: 0.5rem 0;
}

/* -------------------------
IDs and classes
------------------------- */

/*#aboutnav {
  width: 90%;
  margin: 0 auto;
  border-bottom: 3px #105cbd solid;
}
#aboutnav h2 {
  margin: 0;
  padding: 0 0 0.5em 0;
}*/

#banner {

}
#banner h1 {

}
#banner h2 {

}

#content {
  margin-top: 30px;
}
#content p {                                           /* better margins for text on desktop */
  width: 70%;
  margin: 0 auto;
}
#content-objectivebox { /*home page objective box*/
  margin: 0 0 5% 5%;
  width: 90%;
}
#content-objectivebox-image {
  margin: 0 auto;
  width: 90%;
}

#footer {
  color: #fff;
  font-size: 1.75rem;
  text-align: center;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
  #footer a:link {
    color: #fff;
  }
  #footer a:visited {
    color: #fff;
  }

  #footer ul {
    margin-bottom: 0;
  }
  #footer ul li {
    display: inline-block;                                  /* displays everything horizontal instead of vertical */
    margin-right: 20px;
    padding-right: 20px;
  }
  #footer ul li:last-child {
    margin-right: 0;
    padding-right: 0;
  }

/* Navigation IDs */

#nav-main {
    background: #fff;
}
#nav-main ul {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
#nav-main ul li {
    color: #ffa726;
    display: inline-block;
    *display: inline;                                       /* IE7 */
        *zoom: 1;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 3rem;
    padding-left: 3rem;
}

#sitemap {
  font-size: 2.5rem;
  margin: 20px auto;
  text-align: center;
  width: 50%;
}

#table {                                                  /* table on contacts page etc */
  margin: 0 auto;
  table-layout: fixed;
  width: 75%;
}
#table td {
  word-wrap: break-word;
}
#tableBig {                                               /* tables with more columns */
  margin: 0 auto;
  table-layout: fixed;
  width: 90%;
}

#top {                                                    /* navigation links at top of each page */
  color: #fff;
  font-family: "Alegreya Sans SC", "Trebuchet MS", sans-serif;
  font-size: 1.75rem;
  text-align: right;
  width: 100%;                                            /* helps with centring navigation */
}
#top a:hover {
  color: #fff;
}
#top a:link {
  color: #fff;
}
#top a:visited {
  color: #fff;
}
#top ul {
  margin: 0 2em 0 0;        /*keeps space on right so it's not just against edge of viewport*/
}

#top ul li {
  display: inline-block;                                /* wraps with viewport size */
  font-size: 1.5rem;
  margin-right: 20px;                                   /* spacing for list items when horizontal */
  text-align:left;
  *display:inline;/* IE7 */
  *zoom:1;
}
#top ul li:last-child {
  margin-right: 0;                                        /* prevents margin from throwing off last list item */
}

div a.nostyle {
  color: #000;
  text-decoration: none;
}

img.left {
  float: left;
}
img.right {
  float: right;
}

p.backtotop {
  font-weight: bolder;
  padding: 2em 0 2em 0;
  text-align: center;
}
p.centre {
  text-align: center;
}

ul.body {
  padding-left: 0.5em;
  margin: 0 auto;
  width: 70%;
}
ul.contents {
  list-style: none;
  margin: 20px auto;
  padding: 0.5em;
  text-align: center;
  width: 70%;
}
ul.contents li {
  padding: 0;
}
ul.lesspadding {
  padding-left: 3em;
  width: 70%;
}
ul.nostyle {                                             /* removes styling from lists as needed */
  list-style: none;
  margin-left: 1.5rem;
}


/*Classes*/

/*Background colours*/

.background-blue {
  background: #50a6cd;
}

/*End background colours*/

.centre {
  text-align: center;
}
.clear {
  clear: both;
}

/*Main Container*/
.container {
    margin: 0 auto;
    width: 80%;
}
/*End of Main Container*/

figure.fluid-images-3 img {     /*figure area containing 3 images side by side*/
  float: left; /*Lets them stack*/
  max-width: 30.33%; /*-3% due to padding-left %*/
  padding-left: 4.5%; /*Would be 3% but the fact that the first one has no padding-left means we add 1.5% (half of the padding that would have been on the first image)*/
}
figure.fluid-images-3 img:first-child {
  padding-left: 0;
}

.fluid-100 {
  max-width: 100%;
}
.fluid-half {
  max-width: 50%;
}

/*Top home area with picture of church etc and boxes*/
.hometop {
    background-color: lightblue;
    height: 596px;
    padding: 3rem 0 0 0;
}
.hometop-news {
    background-color: purple;
    height: 200px;
}
/*End of top home area*/

.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

.left {
  float: left;
}

.margin-1 {
  margin: 1rem;
}
.margin-1-left {
  margin-left: 1rem;
}
.margin-1-right {
  margin-right: 1rem;
}
.margin-4 {
  margin: 4rem;
}
.margin-centre {
  margin: 0 auto;
}

.nomargin {
  margin: 0;
}
.nopadding {
  padding: 0;
}

.padding-1 {
  padding: 1rem;
}
.padding-3 {
  padding: 3rem;
}
.padding-3-left {
  padding-left: 3rem;
}
.padding-3-right {
  padding-right: 3rem;
}

.right {
  float: right;
}

.small {
  font-size: 1.5rem;
}

.spacer {  /* works with Skeleton to allow white space between vertically stacked divs */
  float: left;
  height: 3em;
  width: 100%;
}

.textbig {
    font-size: 7rem;
}
.textshadow-mid {
    text-shadow: 4px 4px 8px #333;
}
.textshadow-soft {
    text-shadow: 4px 4px 12px #666;
}
.textwhite {
    color: #fff;
}

.vertical-top {
  vertical-align: top;
}

/*YouTube embed responsive solution from https://coolestguidesontheplanet.com/videodrome/youtube/*/

  .video-container {
  	position:relative;
  	padding-bottom:56.25%;
  	padding-top:30px;
  	height:0;
  	overflow:hidden;
  }
  .video-container iframe, .video-container object, .video-container embed {
  	position:absolute;
  	top:0;
  	left:0;
  	width:100%;
  	height:100%;
  }

.width-50 {
  width: 50%;
}

.width-90 {
  width: 90%;
}
