
<perch:help>
  <p><strong>Instructions:</strong></p>

  <p>This is for the events page, with each section here representing one event.</p>

  <p>You can either:<br />
    <span style="padding-left: 20px">- <strong>Edit an existing event</strong> by changing the fields that are currently on this page</span><br />
    <span style="padding-left: 20px">- <strong>Add a new event</strong> to the bottom of the list by scrolling to the bottom of this page and clicking "Save &amp; Add another", which will result in a new blank set of fields appearing above the others that can then be filled in with appropriate text.</span></p>

  <p><strong>You can also delete an event</strong> by clicking the small red delete button to the top right of an event entry.</p>

  <p>The main part of the event article should be placed in the large text box, and you can find various buttons that will allow you formatting options. The editor uses "Markdown", which allows the editor to do a few things that a program like Word might normally do (like adding links, bolding, underlining etc). You can just highlight text and press the buttons in the editor and the Markdown will be added automatically.</p>

  <p><strong>If you want to add an image</strong>:</p>
    <span style="padding-left: 20px">- Position the writing cursor in the text where you want the image to appear (on a new line is recommended)</span><br />
    <span style="padding-left: 20px">- Click the little landscape symbol in the line of tools above the text editing area (it will say Picture if you hold your mouse cursor over it for a bit)</span><br />
    <span style="padding-left: 20px">- In the Select an Asset window that appears, either select an existing image to use or click "Add Asset" in the top right</span><br />
    <span style="padding-left: 20px">- Then in the grey box that appears, either drag and drop the image into the box from your computer or click the box to bring up a window that shows your computer files and will allow you to select the folder where the image is saved that you want to use. When you've found it, select it and click Open to upload it.</span><br />

  <p>This will create a line of Markdown that looks something like this: <code>[cms:asset 60]</code>. You can cut and paste this if you want to move it around your writing and reposition it.</p>

  <p>If you want to have multiple images side by side, simply move the above code into the same line with NO SPACE inbetween, so:<br /><code>[cms:asset 60][cms:asset 61]</code>. This should happen automatically if you just put one image in after another without moving the cursor. I recommend having only two images to a line, so:</p>

  <p><code>[cms:asset 60][cms:asset 61]<br />
    [cms:asset 62][cms:asset 63]</code></p>

  <p>Otherwise the layout will start to go wrong!</p>

  <p><strong>If you want to have larger text</strong>, use the H symbol to insert a &#35; - one &#35; will give you the largest text size, and you can keep clicking the symbol to add more &#35;s up to 6 which is the smallest text size. Then just type as normal - for example: <code>&#35;&#35;&#35; text size 3</code></p>

  <p><strong>As with everything else in Perch, remember to click Save Changes at the bottom to save your text to the page!</strong></p>

</perch:help>

<div id="funding">
  <perch:content id="body" type="textarea" label="Body" markdown="true" editor="simplemde" required="true" />
</div>
