<perch:help>
    <p><strong>Instructions:</strong></p>
    
    <p>This is for writing multiple blurbs/blocks of text for a given part of a page, with titles for each section of text. You can use "Save and Add Another" to add another titled section. Otherwise just type in the boxes below, the first one being for the title of the section of the text and the bottom for the actual body of the text.</p>
    
    Can keep image blank if needed
</perch:help>

<perch:content id="clubon" type="radio" label="Promotion mode/placeholder blurb mode!" options="Promotion, Placeholder" required="true" title="true" help="Choose promotion mode to have space for an image for the club logo and placeholder mode for just a general blurb about clubs, for when there isn't a club coming up or details are unknown." suppress="true" />

<perch:content id="image" type="image" label="Holiday Club logo for this year" required="false" title="true" />

<h2 class="centre padding-1"><perch:content id="club_title" type="text" label="Club title for this year" required="false" title="true" /></h2>

<perch:content id="body" type="textarea" label="Body" markdown="true" editor="markitup" required="true" />

<p>If you have any queries, please do not hesitate to <a href="mailto:admin@ferringbaptist.org.uk">contact us</a>.</p>