<perch:help>
    <p><strong>Instructions:</strong></p>
    
    <p>This is for the description of Holiday Clubs/this year's Holiday Club.</p>
    
    <p><strong>When a club isn't coming up/not planned yet:</strong> The club title below can be left blank, and you can delete the Holiday Club logo by mousing over the image of the logo below and then clicking the red X that appears in the top left corner of the image. You can simply replace the body text with a generic blurb about our clubs.</p>
    
    <p><strong>When you want to add club information</strong>: Simply follow the steps above, in reverse! Add a title, image, and change the blurb to a specific description of the club as needed.</p>
    
    <p><strong>To upload an image:</strong> Follow the usual steps as with any other image/file on the website:<br /><br />
    
    <span style="padding-left: 20px">- Click "Select or upload an image" in the "Holiday Club logo for this year" section below.<br />
    <span style="padding-left: 20px">- In the resulting Select an Asset box that pops up, either:<br />
        <span style="padding-left: 40px"> - Click an existing item that you want to link to and then click "Use Selected" (should be highlighted green), or<br />
        <span style="padding-left: 40px"> - Click the "Add Asset" button in the top right, and then either drop an image into the indicated box area or click the box area to select the file from your computer.<br />
        <span style="padding-left: 60px">- Click the image that you just added that should now be displayed in green<br />
        <span style="padding-left: 60px">- Click "Use Selected" in the top right<br />
        <span style="padding-left: 60px">- <strong>N.B. if you enter this area by accident and want to go back</strong>, click the grey (X) icon in the far top right of the "Select an Asset" box, or press ESC on your keyboard.<br />
        <span style="padding-left: 60px">- PDF format for documents is preferable if you can manage it as more people can read this format than items created in Word etc!
    </p>
</perch:help>

<h1 class="centre padding-1"><perch:content id="club_title" type="text" label="Club title for this year (leave blank if not known)" required="false" title="true" /></h1>

<img class="fluid-100" src="<perch:content id="image" type="image" label="Holiday Club logo for this year" required="false" title="true" />">

<perch:content id="body" type="textarea" label="Body text" title="true" markdown="true" editor="markitup" required="true" />

<p>If you have any queries, please do not hesitate to <a href="mailto:admin@ferringbaptist.org.uk">contact us</a>.</p>