<perch:help>
    <p><strong>Instructions:</strong></p>
    
    <p>This is for the weekly diary. You can add/delete entries here and change the period that the diary is for, see below.</p>
    
    <p><strong>To add a new diary entry:</strong> Click "Add an item" in the lower right corner underneath the bottom-most diary entry.</p>
    <p><strong>To delete a diary entry:</strong> Mouse over the number next to a diary entry below to get a red X to appear, click the red X to delete the entry.</p>
    <p><strong>To reorder diary entries:</strong> Mouse over the number as above, but instead click and hold on the three lines underneath the red X and drag your mouse down/up to reorder.</p>
    
    <p>As ever for any of this to take effect you need to click Save Changes at the bottom. If you make a mistake just click Cancel instead.</p>
</perch:help>

<p class="centre"><strong>Schedule for the <perch:content id="weeks" type="text" label="Period that diary is for" required="true" title="true" help="Format: week/weeks x to x month, i.e. 'week 16th to 22nd July', or 'weeks 30th July to 13th August'" /></strong></p>

<table class="styled" role="grid" summary="Schedule for events in the coming week(s)">
    <thead>
        <tr class="tabletop">
            <th class="th-time" scope="col">Day/Time</th>
            <th scope="col">Event</th>
            <th class="th-notes" scope="col">Notes</th>
        </tr>
    </thead>
    <tbody>
        <perch:repeater id="entries" label="Diary entries" title="true">
            <tr>
                <th scope="row"><perch:content id="day" type="select" label="Day of the week" options="Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday" allowempty="false" required="true" /> <perch:content id="date" type="text" label="Date (if needed)" allowempty="true" required="false" maxlength="5" /><br><perch:content id="time" type="text" label="Time of event" required="true" title="true" help="Include end time if appropriate, like 3:00-4:00 (20 character limit)" chars="20" /> <perch:content id="ampm" type="select" label="A.M./P.M." options="A.M., P.M." allowempty="false" required="true" /></th>
                <td class="event event-<perch:content id="em" type="select" label="Emphasise this entry?" options="No, Bold" allowempty="false" required="true" />"><perch:content id="event-title" type="text" label="Title of event" required="true" title="true" order="1" /></td>
                <td class="notes"><perch:content id="notes" type="text" label="Any notes about event (optional)" required="false" title="true" help="(100 character limit)" chars="100" /></td>
            </tr>
        </perch:repeater>
    </tbody>
</table>