<perch:help>
  <p><strong>Instructions:</strong></p>

  <p>This is for the list of links at the end of the admin page to websites of interest.</p>

  <p>You can either:<br />
    <span style="padding-left: 20px">- <strong>Edit an existing website</strong> by changing the fields that are currently on this page</span><br />
      <span style="padding-left: 20px">- <strong>Add a new website</strong> to the bottom of the list by scrolling to the bottom of this page and clicking "Save &amp; Add another", which will result in a new blank set of fields appearing at the bottom of this page that can then be filled in with appropriate text.</span></p>

</perch:help>

<h3 class="header-blue"><perch:content id="textTitle" type="text" label="Title of website" required="true" title="true" /></h3>

<p><strong><a href="<perch:content id="textLink" type="text" label="Link to website" required="true" title="true" />"><perch:content id="textLink" type="text" label="Link to website" required="true" title="true" /></a></strong></p>

<p><perch:content id="textDescription" type="textarea" label="Description of website" required="true" title="true" /></p>
