<perch:help>
    <p><strong>Instructions:</strong></p>
    
    <p>This is for writing multiple blurbs/blocks of text for a given part of a page, with titles for each section of text. You can use "Save and Add Another" to add another titled section. Otherwise just type in the boxes below, the first one being for the title of the section of the text and the bottom for the actual body of the text.</p>
</perch:help>

<article class="background-white75 border-top-15-orange boxshadow-softextra6 five columns margin-6-top offset-by-two" role="article">
    <h1 class="centre padding-1"><perch:content id="heading" type="text" label="Overall heading" required="true" title="true" /></h1>
    
    <?php perch_content('Right-hand top box sections'); ?>
</article>