<perch:help>
<p>For the important news area at the top right of the home page. This can only be a short piece of text due to limited space. Please try to limit how many separate lines of text are included or the text will pop outside of the news box!</p>

<p><strong>To add links</strong>: select/highlight the area of text that you want to be a link and then click the small chain link symbol to the far right of the toolbar above the text area below. A small box labeled URL should appear. Type in/paste the link here. If you want to include a link to a page on the website, it's simplest to include the full address (so "http://preview.ferringbaptist.org.uk/club/"). This will then change your text to look like this: <code>[this is the text to be linked](http://preview.ferringbaptist.org.uk/club/ "")</code></p>
</perch:help>

<h2 class="centre padding-1"><perch:content id="newstitle" type="text" label="News title" required="true" title="true" /></h2>

<perch:content id="newstext" type="textarea" label="Text" markdown="true" editor="markitup" imagewidth="640" imageheight="480" maxlength="200" required="true" imageclasses="image" />
