<perch:help>
    <p><strong>Instructions:</strong></p>
    
    <p>This is for the display of the weekly newssheet on the newssheet page. You can add images below, as many as needed to show all the pages of the news sheet.</p>
    
    <p><strong>To add an extra image:</strong> Click "Save &amp; add another" at the bottom of the page. Another image item will appear at the bottom of the page.</p>
    <p><strong>To delete an image:</strong> Click the red Delete button next to the image you want to delete. Click Delete in the confirmation message that appears.</p>
    
    <p><strong>N.B. Recommended size for a newssheet photo/scan is 1368 pixels across (most cameras will produce images of at least this size).</strong></p>
    
    <p><strong>To upload an image:</strong> Follow the usual steps as with any other image/file on the website:<br /><br />
    
    <span style="padding-left: 20px">- Click "Select or upload an image".<br />
    <span style="padding-left: 20px">- In the resulting Select an Asset box that pops up, either:<br />
        <span style="padding-left: 40px"> - Click an existing item that you want to link to and then click "Use Selected" (should be highlighted green), or<br />
        <span style="padding-left: 40px"> - Click the "Add Asset" button in the top right, and then either drop an image into the indicated box area or click the box area to select the file from your computer.<br />
        <span style="padding-left: 60px">- Click the image that you just added that should now be displayed in green<br />
        <span style="padding-left: 60px">- Click "Use Selected" in the top right<br />
        <span style="padding-left: 60px">- <strong>N.B. if you enter this area by accident and want to go back</strong>, click the grey (X) icon in the far top right of the "Select an Asset" box, or press ESC on your keyboard.<br />
    </p>
</perch:help>

<a class="link-nostyle" href="<perch:content id="newssheet" type="image" required="true" />">
    <img
        alt="Image of this week's news sheet"
        class="boxshadow-softextra6 fluid-100 margin-4-top"
        role="img"
        src="<perch:content id="newssheet" type="image" required="true" quality="65" />"
    >            
</a>