<perch:help>
    <p><strong>Instructions:</strong></p>
    
    <p>This is for the contact details on the Contact Us page. You can add/delete emails, phone numbers and mobile phone numbers here as needed.</p>
    
    <p><strong>To add a new email/phone number/mobile number:</strong> Click "Add an item" in the lower right corner underneath the bottom-most item in the appropriate section.</p>
    <p><strong>To delete an item:</strong> Mouse over the number next to an item below to get a red X to appear, click the red X to delete the item.</p>
    <p><strong>To reorder items:</strong> Mouse over the number as above, but instead click and hold on the three lines underneath the red X and drag your mouse down/up to reorder.</p>
    
    <p>As ever for any of this to take effect you need to click Save Changes at the bottom. If you make a mistake just click Cancel instead.</p>
</perch:help>

<a class="link-nostyle" href="<perch:content id="map_link" type="text" label="Link to map" title="true" required="true" help="Format: full link to the map with position of church on it, usually something like: 'https://www.google.co.uk/maps/place/Ferring+Baptist+Church/@50.8135471,-0.4512601,17z/data=!3m1!4b1!4m5!3m4!1s0x4875a37ab2c84bdb:0xe47edae588f900ad!8m2!3d50.8135437!4d-0.4490661?hl=en', yes it's long..." />">
    <img
        alt="Image of a map to our location"
        class="boxshadow-softextra6 fluid-100 margin-4-top"
        role="img"
        src="<perch:content id="map_image" type="image" label="Map image" title="true" required="true" quality="65" />"
    >
    <p class="centre">(Source: <perch:content id="map_source" type="text" label="Name of source" title="true" required="true" />)</p>
</a>